{% extends "base.html" %}

{% block title %}About Page{% endblock %}

{% block content %}
    <div class="features-boxed">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Why vote online?</h2>
                <p class="text-center">Now it's easier than ever to excercise your democracy right and vote. You can do
                    it right from the confort of your home!</p>
            </div>
            <div class="row justify-content-center features">
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-map-marker icon" style="color: red;"></i>
                        <h3 class="name">Works everywhere</h3>
                        <p class="description">You can vote from anywhere in the world, without the pain of travelling
                            to the nearest embassy</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-clock-o icon" style="color: black;"></i>
                        <h3 class="name">Always available</h3>
                        <p class="description">You can vote at any time, as long as the chosen voting session is still
                            available. Results can be seen anytime.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-lock icon" style="color: aqua);"></i>
                        <h3 class="name">Secure</h3>
                        <p class="description">Our platform employs a number of security measures to validate votes and
                            disallow any kind of manipulation</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-user-secret icon" style="color: black;"></i>
                        <h3 class="name">Anonymous</h3>
                        <p class="description">We promise you that your vote is completely confidential because we donot save to whom you voted..</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-plane icon" style="color: rgb(20,238,133);"></i>
                        <h3 class="name">Fast </h3>
                        <p class="description">The vote is registered instantaneously. This gives us the ability ti
                            generate partial results on spot.</p>
                    </div>
                </div>
                
                </div>
            </div>
        </div>
    </div>
    
{% endblock content %}